@import '../../assets/scss/global.scss';


.field-wrapper{
    width: 100%;
    @extend .mb-20;
}
.label{
    color: $color-grey;
    margin-bottom: 5px;
    display: inline-block;
}
.input-element{
    width: 100%;
    border: $border-gray;
    padding:11px;
    border-radius: 5px;
}
.error{
    color: red;
    font-size: 0.8rem;
    margin-top:5px;
}

